
/* HEADER */

#logo{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

header{
    margin-bottom: 50px;
    background-color: #E52147;
}


/* BODY */

/* contact form */

#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* style text */

h1, h2{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #181717;
}

h5{
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #181717;
}

.whiteParagraph{
    color: white;
}

/* Team presentation */

#teamCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ourTeam{
    margin: 50px;
}


/* Google Map */

#googleMaps{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}



/* General */

.center{
    text-align: center;
}

.btn-info{
    background-color: #E52147;
    border: none;
}




/* FOOTER */

footer{
    background-color: #E52147;
    height: 200px;
    color: white;  
}

.socialMediaIcon{
    height: 40px;
} 

#menuAndSocial{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#footerMenu{
    display: flex;
    flex-direction: column;
    color: white;
}
