header{
    margin-bottom: 50px;
}

#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#teamCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ourTeam{
    margin: 50px;
}

#googleMaps{
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

.btn-info{
    background-color: blueviolet;
}

.bg-info{
    background-color: blueviolet;
}

#imageMylene{
    height: 300px;
}